

```
Ahmed mohamed shaker
first task in instant```

In [ ]:
"""
area of tringle=(1/2)*base*height)
"""
x=int(input("please enter the heigh of tringle.. "))
y=int(input("please enter the base of tringle.. "))
print(x*y/2)

please enter the heigh of tringle.. 10
please enter the base of tringle.. 1
5.0

In [ ]:
"""
use input and output formtting
"""
x=float(input("enter your your area in kilometer.."))
x=x*1000000
print(f"your area in meter is {x}")

enter your your area in kilometer..10
your area in mile is 10000000.0

In [ ]:
"""
swap between 2 numbers
"""
a=5
b=20
a,b=b,a
print("a=",a)
print("b=",b)

a= 20
b= 5