**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
name=input("enter your name :")
print(len(name))

enter your name :ahmed shaker
12

In [ ]:
name=input("enter your name :")
count=0
for i in name:
    print(i)
    count+=1
print(count)

enter your name :ahmed shaker
a
h
m
e
d

s
h
a
k
e
r
12

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
x=input("enter the word :")
if len(x)<2:
    print("empty string")
else:
    print(x[:2]+x[-2:])

enter the word :shaker
sher

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
def word(string):
    if len(string) < 3:
        return string

    if string.endswith("ing"):
        return string + "ly"

    return string + "ing"

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
word=[]
n=int(input("enter the number of words :"))
for i in range(n):
    word.append(input("enter the word :"))
print(word)

enter the number of words :4
enter the word :ahmed
enter the word :mohamed
enter the word :shaker
enter the word :fahiem
['ahmed', 'mohamed', 'shaker', 'fahiem']

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
x=input("enter the word :")
print(x[-1]+x[1:-1]+x[0])

enter the word :shaker
rhakes

In [ ]:
x=input("enter the string :")
if len(x)>2:
    print(x[-1]+x[1:-1]+x[0])
else:
    print(x)

enter the string :shaker
rhakes

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
x=input("enter the string :")
print(x[::2])

enter the string :abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
x=input("enter the sentence :")
word=x.split()
for i in word:
  print(i,x.count(i))

enter the sentence :amr and ahmed are frindes but amr is the tallest
amr 2
and 1
ahmed 1
are 1
frindes 1
but 1
amr 2
is 1
the 1
tallest 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
x=input("enter the word :")
print(x.upper())
print(x.lower())

enter the word :ahmed shaKER
AHMED SHAKER
ahmed shaker

**9-Write a Python function to reverse a string if its length is a multiple of 4

> Add blockquote

In [ ]:
def reverse(string):
    if len(string) % 4 == 0:
        return string[::-1]
    else:
        return string

input_string = input("Enter a string: ")
reversed_string = reverse(input_string)
print("Reversed string:", reversed_string)

Enter a string: ahmed shaker
Reversed string: rekahs demha

**10- Write a Python program to remove a newline in Python

In [ ]:
x=input("enter the string :")
print(x.replace("\n"," "))

enter the string :ahmed shaker    mohamed
ahmed shaker    mohamed

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
x=input("enter the string :")
if x.startswith("h"):
    print("yes")
else:
    print("no")

enter the string :ahmed
no

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
string=input("enter the string :")
lines=string.splitlines()
for i in lines:
    print("hello",i)

enter the string :ahmed shaker
hello ahmed shaker

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
x=input("enter the number :")
print(round(float(x),2))

enter the number :10.5615161
10.56

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
x=float(input("enter the number :"))
print("formatted",f"{x:+.2f}")

enter the number :-202.58
formatted -202.58

**15-Write a Python program to display a number with a comma separator

In [ ]:
x=float(input("enter the number"))
print("number",f"{x:+,}")

enter the number1000000
number +1,000,000.0

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
def reverse(string):
   return string[::-1]

input_string = input("Enter a string: ")
reversed_string = reverse(input_string)
print("Reversed string:", reversed_string)

Enter a string: ahmed shaker
Reversed string: rekahs demha

In [ ]:
string=input("enter your string")
reversed_string = reverse(string)
print("Reversed string:", reversed_string)

enter your stringahmed shaker
Reversed string: rekahs demha

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
dic={'ahmed':14,'key':16,'hassen':4}
count=0
for i in dic:
  if i.startswith

no
no
yes

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:

text = input("Enter a string: ")
char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print("Characters and their counts:")
for key, value in char_count.items():
    print(f"Key: '{key}', Value: {value}")

Enter a string: ahmed
Characters and their counts:
Key: 'a', Value: 1
Key: 'h', Value: 1
Key: 'm', Value: 1
Key: 'e', Value: 1
Key: 'd', Value: 1

**19-Write a Python program to remove spaces from a given string

In [ ]:
text = str(input("enter the text"))
result = text.replace(" ", "")
print(result)

enter the texthass e n
hassen

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:

text = input("enter string: ")
n = len(text)
count = n * (n + 1) // 2

print("number of non-empty substrings", count)

enter string: ahmed shaker
number of non-empty substrings 78

**21-write a Python program to swap first and last element of any list.

In [ ]:
number=[2,5,6,7]
a,b,c,d=number
a,b=b,a
print(a)
print(b)

5
2

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
A=[]
num=int(input("enter num of element "))
for i in range(num):
  word=input(f"the word,{i+1}: ")
  A.append(word)
input=input("list before swap")
A[0],A[2]=A[2],A[0]
print(A)

enter num of element 5
the word,1: 1
the word,2: 2
the word,3: 3
the word,4: 4
the word,5: 5
list before swap6
['3', '2', '1', '4', '5']

**23- search for the all ways to know the length of the list

> Add blockquote

In [ ]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)

5

In [ ]:
A=[1,2,3,4,5,6,7,8,9]
l=0
for i in A:
    l+=1
print(i)

9

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:

A = []
N = int(input("Enter number of words: "))
for i in range(N):
    word = int(input(f"Enter word {i + 1}: "))
    A.append(word)
print("Maximum value =", max(A))

Enter number of words: 5
Enter word 1: 10
Enter word 2: 30
Enter word 3: 50
Enter word 4: 999
Enter word 5: 1000
Maximum value = 1000

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
A = []
N = int(input("Enter number of words: "))
for i in range(N):
    word = int(input(f"Enter word {i + 1}: "))
    A.append(word)
print("minumum value =", min(A))

Enter number of words: 3
Enter word 1: 10
Enter word 2: 2
Enter word 3: 9
minumum value = 2

**26-search for if an elem is existing in list

In [ ]:
A = []
N =int( input("Enter number of words: "))
for i in range(N):
    word =str(input(f"Enter word {i + 1}: "))
    A.append(word)
user_word=input("enter your search word")
if user_word in A:
  print("exist")
else:
  print("not exist")

Enter number of words: 3
Enter word 1: ahmed
Enter word 2: ali
Enter word 3: hassen
enter your search wordmohamed
not exist

**27- clear python list using different ways

In [ ]:
A = []
N =int( input("Enter number of words: "))
for i in range(N):
    word =int(input(f"Enter word {i + 1}: "))
    A.append(word)
print(f"the original list: {A}")
A.clear()
print(f"the original list: {A}")

Enter number of words: 6
Enter word 1: 2
Enter word 2: 3
Enter word 3: 4
Enter word 4: 5
Enter word 5: 6
Enter word 6: 9
the original list: [2, 3, 4, 5, 6, 9]
the original list: []

**28-remove duplicated elements from a list

> Add blockquote

In [ ]:
def remove_duplicates(input_list):
    return list(set(input_list))

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(my_list)
print(unique_list)

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
def convert_to_dict(test_list, key_list):
    return [{key_list[0]: test_list[i], key_list[1]: test_list[i + 1]} for i in range(0, len(test_list), 2)]

test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
result = convert_to_dict(test_list, key_list)
print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [60]:
sample_list = [1, 2, 2, 3, 4, 4, 5, 5, 5]

unique_values_set = set(sample_list)
unique_count_set = len(unique_values_set)

print("Unique values using set:", unique_values_set)
print("Count of unique values using set:", unique_count_set)

Unique values using set: {1, 2, 3, 4, 5}
Count of unique values using set: 5

:**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [63]:
from collections import Counter

test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
frequency = Counter(test_list)
result = [item for item, count in frequency.items() if count > K]
print("Elements with frequency greater than", K, ":", result)

Elements with frequency greater than 3 : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [65]:

listt = [1, 2, 2, 3, 4, 5]
storneg_n = []
for i in range(len(listt)):
    if i == 0:
        storneg_n.append(max(listt[i], listt[i + 1]))
    elif i == len(listt) - 1:
        storneg_n.append(max(listt[i - 1], listt[i]))
    else:
        storneg_n.append(max(listt[i - 1], listt[i], listt[i + 1]))
print("Strongest Neighbors:", storneg_n)

Strongest Neighbors: [2, 2, 3, 4, 5, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [66]:
nums = [1, 2, 3]

for i in nums:
    for j in nums:
        for k in nums:
            if i != j and j != k and i != k:
                          print(i, j, k, "##")

1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [67]:
test_list = [1, 2, 3]
n = len(test_list)
for i in range(n):
    for j in range(i+1, n+1):
                print(test_list[i:j])

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [68]:

List_1 = ["a", "b"]
List_2 = [1, 2]
unique_combinations = []
for i in List_1:
    for j in List_2:
        combination = [(i, j)]
        for k in List_1:
            if k != i:
                for l in List_2:
                    if l != j:
                        combination.append((k, l))
                unique_combinations.append(combination)

for combo in unique_combinations:
    print(combo)

[('a', 1), ('b', 2)]
[('a', 2), ('b', 1)]
[('b', 1), ('a', 2)]
[('b', 2), ('a', 1)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [71]:

nums = [1, 1, 2, 3, 4, 5, 1, 2, 1]
target = 1
result = []
for num in nums:
    if num != target:
        result.append(num)
print("Output:", result)

Output: [2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [70]:
input_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
element_to_remove = 1
output_list = [x for x in input_list if x != element_to_remove]
print("Output:", output_list)

Output: [2, 3, 4, 5, 2]

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [69]:
test_list_1 = [(4, 5, 5, 4), (5, 4, 3)]
K1 = 5
N1 = 2
result_1 = []

for record in test_list_1:
    if record.count(K1) == N1:
        result_1.append(record)

print("Output for test_list_1:", result_1)

test_list_2 = [(4, 5, 5, 4), (5, 4, 3)]
K2 = 5
N2 = 3
result_2 = []

for record in test_list_2:
    if record.count(K2) == N2:
        result_2.append(record)
print("Output for test_list_2:", result_2)

Output for test_list_1: [(4, 5, 5, 4)]
Output for test_list_2: []

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [64]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

sorted_by_col_0 = sorted(array, key=lambda x: x[0])
print("Sorted array specific to column 0:", sorted_by_col_0)

sorted_by_col_1 = sorted(array, key=lambda x: x[1])
print("Sorted array specific to column 1:", sorted_by_col_1)

sorted_by_col_2 = sorted(array, key=lambda x: x[2])
print("Sorted array specific to column 2:", sorted_by_col_2)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [62]:
input_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_by_key = dict(sorted(input_dict.items()))
print("Sorted by key:", sorted_by_key)
sorted_by_value = dict(sorted(input_dict.items(), key=lambda item: item[1]))
print("Sorted by value:", sorted_by_value)

Sorted by key: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
Sorted by value: {'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [61]:

test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7
filtered_dict = {}

for key, value in test_dict.items():
    if isinstance(value, (int, float)) and value <= K:
        filtered_dict[key] = value
    elif isinstance(value, str):
        filtered_dict[key] = value

print("Original dictionary:", test_dict)
print("Filtered dictionary:", filtered_dict)

Original dictionary: {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
Filtered dictionary: {'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [59]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

new_dict = {}
new_dict.update(dic1)
new_dict.update(dic2)
new_dict.update(dic3)

new_dict = {**dic1, **dic2, **dic3}

print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [55]:
dicc={'c1': '10', 'c2': 'Green', 'c3': "30"}
for i in dicc:
  print(dicc)

{'c1': '10', 'c2': 'Green', 'c3': '30'}
{'c1': '10', 'c2': 'Green', 'c3': '30'}
{'c1': '10', 'c2': 'Green', 'c3': '30'}

**44- Write a Python script to merge two Python dictionaries

In [58]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = {**dict1, **dict2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [54]:
dicc={'c1': '10', 'c2': 'Green', 'c3': "30"}
print(max(dicc))

c3

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [48]:
dicc={'c1': 'Red', 'c2': 'Green', 'c3': None}
dicc.pop("c3")
print(dicc)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [46]:
t = ()
list_t = list(t)
num=int(input("enter the num of elemnts"))
for i in range(num):
  word = input("enter the value :")
  list_t.append(word)
t = tuple(list_t)
print(t)

enter the num of elemnts2
enter the value :1
enter the value :2
('1', '2')

**48-Write a Python program to unpack a tuple into several variables

In [45]:
t=(10,20,30,)
a,b,c=t
print(a,b,c)

10 20 30

**49-Write a Python program to add an item to a tuple

In [44]:
t = ()
list_t = list(t)
num=int(input("enter the num of elemnts"))
for i in range(num):
  word = input("enter the value :")
  list_t.append(word)
t = tuple(list_t)
print(t)

enter the num of elemnts3
enter the value :10
enter the value :20
enter the value :30
('10', '20', '30')

**50-Write a Python program to convert a tuple to a string

In [35]:
t=(1,6,9,87,7,"ahmed")
s=str(t)
print(s)
print(type(s))

(1, 6, 9, 87, 7, 'ahmed')
<class 'str'>

**51-Write a Python program to convert a list to a tuple

In [33]:
listt=[1,6,5,8,9,7]
t=tuple(listt)
print(f"the tuple is {t}")

the tuple is (1, 6, 5, 8, 9, 7)

**52-Write a Python program to reverse a tuple

In [30]:
t=(1,3,5,6,4,)
reverse_tuple=t[::-1]
print(f"the reversed tuple is : {reverse_tuple}")

the reversed tuple is : (4, 6, 5, 3, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
listt = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_list= []
for t in listt:
    new_tuple = t[:-1] + (100,)
new_list.append(new_tuple)

print("Original list:", listt)
print("new list:", new_list)

Original list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new list: [(70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
word_convert=str(input("enter your string"))
word=tuple(word_convert)
print(f"the converted text is :,{word}")

enter your stringahmed shaker 0
the converted text is :,('a', 'h', 'm', 'e', 'd', ' ', 's', 'h', 'a', 'k', 'e', 'r', ' ', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
t=(4,3,5,6,)
print("the avg is :",{sum(t)/len(t)})

the avg is : {4.5}

**56-Write a Python program to add member(s) to a set.

In [ ]:
A = set()
N = int(input("Enter number of words: "))
for i in range(N):
    word = int(input(f"Enter word : "))
    A.add(word)
print(A)

Enter number of words: 4
Enter word : 10
Enter word : 20
Enter word : 30
Enter word : 40
{40, 10, 20, 30}

In [ ]:
A = set({1, 3, 5, 10})
values_to_add = []
for i in A:
    value = int(input(f"Enter value to add : "))
    values_to_add.append(value)
for val in values_to_add:
    A.add(val)
print(A)

Enter value to add : 10
Enter value to add : 20
Enter value to add : 30
Enter value to add : 40
{1, 3, 5, 40, 10, 20, 30}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
A = set()
N = int(input("Enter number of words: "))
for i in range(N):
    word = int(input(f"Enter word : "))
    A.add(word)
rword=int(input("enter your removed value from set "))
A.remove(rword)
print(A)

Enter number of words: 4
Enter word : 10
Enter word : 20
Enter word : 30
Enter word : 40
enter your removed value from set 20
{40, 10, 30}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
a=set({1,3,4,5,10})
b=set({6,9,7,5})
z=b&a
c=b|a
y=b-a
q=b^a
print(f"the intersection : ,{z}")
print(f"the union : ,{c}")
print(f"the diffrance : ,{y}")
print(f"the semeatric : ,{q}")

the intersection : ,{5}
the union : ,{1, 3, 4, 5, 6, 7, 9, 10}
the diffrance : ,{9, 6, 7}
the semeatric : ,{1, 3, 4, 6, 7, 9, 10}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
A = set()
N = int(input("Enter number of words: "))
for i in range(N):
    word = int(input(f"Enter word : "))
    A.add(word)
print("minumum value =", min(A))

Enter number of words: 5
Enter word : 1
Enter word : 2
Enter word : 3
Enter word : 4
Enter word : 5
minumum value = 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:

a = []
n = int(input("Enter the number of elements in the list: "))
for i in range(n):
    word = int(input(f"Enter the value for element {i + 1}: "))
    a.append(word)
target_sum = int(input("Enter the target sum: "))
pairs = []

for i in range(len(a)):
    for j in range(i + 1, len(a)):
        if a[i] + a[j] == target_sum:
            pairs.append((a[i], a[j]))
if pairs:
    print("Pairs with the sum of", target_sum, "are:", pairs)
else:
    print("No pairs found with the sum of", target_sum)

Enter the number of elements in the list: 6
Enter the value for element 1: 1
Enter the value for element 2: 2
Enter the value for element 3: 3
Enter the value for element 4: 4
Enter the value for element 5: 5
Enter the value for element 6: 6
Enter the target sum: 6
Pairs with the sum of 6 are: [(1, 5), (2, 4)]